apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
  labels:
    app: portfolio-app
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: portfolio-app
